html{
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    width:100%;
    height:100%;
    color: #cccccc;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
}

a {
    color: #11bb11;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    display: block;
    padding: 0px;
    margin: 0;
    text-align: center;
}

h2 {
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
}

.hr{
    z-index: 3;
    align-self: center;
    height: 3px;
    background-color: #3030aa;
    color: #3030aa;
    width: 80%;
    padding: 0;
    margin: 0px 10%;
}

#logosmall {
    margin: 0;
    padding: 0;
    float: left;
}

#logoimage {
    align-self: center;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

#background {
    position: fixed;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 100vh;
    padding-top: 35px;
    vertical-align: middle;
}

#navbar {
    position: fixed;
    z-index: 2;
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: #1b1b1b;
    color: #11bb11;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    float : right;
}

#navbar .button {
    float: left;
    font-size: 20px;
    color: #bbbbbb;
    text-align: center;
    padding: 14px 12px;
    vertical-align: middle;
    margin: 0;
    text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #bb1111;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #111111;
  color: #bb1111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#menubutton {
    display: none;
    margin: 0;
}

#logo{
    text-align: center;
    height: auto;
    background-color: #000000;
}

#games, #work {
    min-height: 100vh;
    height: auto;
    background-color: #333333;
    padding: 0px 10px;
}

#about,#contact {
    min-height: 100vh;
    height: auto;
    background-color: #222222;
}

#contact{
    text-align: center;
    position: relative;
}

#footer{
    bottom: 0;
    position: absolute;
    background-color: #333333;
    width: 100%;
}

.img_table{
    margin: 0;
    padding: 0;
    min-width: 128px;
    width: 25vw;
    display: block;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
}

tr, td{
    padding: 2px;
    vertical-align: top;
}
